<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Collect new password</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <script>
      function validateForm() {
        var password = document.getElementById("newpassword").value;  
        var confirmpassword = document.getElementById("confirmnewpassword").value; 
        if ((!password) || (!confirmpassword) || (password !== confirmpassword)) {
          alert("Both password fields should be filled and should match");
          return false;
        }
      }
    </script>
  </head>
  <body>
      <form class="form-class-userreg" action="/submitnewpassworduserreg" onsubmit="return validateForm()" method="post">
        <div id="signinlabel">{{ new_password_user_reg_text }}</div>
        <div class="form-group">
          <label for="newpassword">New Password</label>
          <input type="password" id="newpassword" name="newpassword">
        </div>
        <div class="form-group">
          <label for="confirmnewpassword">Confirm New Password</label>
          <input type="password" id="confirmnewpassword" name="confirmnewpassword">
        </div>
        <input id="submit" type="submit" value="Submit">
      </form> 
  </body>
</html>