<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Test Okta Signin Widget</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    
    <script src="https://global.oktacdn.com/okta-signin-widget/5.4.0/js/okta-sign-in.min.js" type="text/javascript"></script>

    <link href="https://global.oktacdn.com/okta-signin-widget/5.4.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <div id="greeting"></div>
    <div id="logout" style="display:none">
      <a href="javascript:;" onclick="logout();">Logout</a>
    </div>
    <div id="okta-login-container"></div> 
        <script type="text/javascript">
          var signIn = new OktaSignIn({
            el: '#okta-login-container',
            baseUrl : 'https://sathishb.okta.com',
            clientId : '0oaafj1e3jBIA1FSE2p7',
            redirectUri : 'https://sathish-widget.glitch.me',
            authParams : {                  
              issuer: 'https://sathishb.okta.com/oauth2/default',
              pkce: false,
              display: 'page',
              responseType: ['id_token', 'token'],
              // `display: page` will initiate the OAuth2 page redirect flow
              scopes : [  'openid','email','profile','address','phone', 'offline_access']
            },              
            features : {
              registration : true,
              rememberMe : false,
              smsRecovery : true,
              multiOptionalFactorEnroll : true,
              selfServiceUnlock : true,
              autoPush : true,
              idpDiscovery: false
            }
          });

          signIn.authClient.session.exists()
          .then(function(exists) {
            if (exists) {
              //alert('Session exists');
              if (signIn.authClient.isLoginRedirect()) {
                signIn.authClient.token.parseFromUrl()
                .then(function(res) {
                  // manage token or tokens
                  var tokens = res.tokens;
                  // Do something with tokens, such as
                  signIn.authClient.tokenManager.setTokens(tokens);
                  window.location.assign(window.location.protocol + '//' + window.location.hostname);
                })
                .catch(function(err) {
                  // handle OAuthError
                });
              } else {
                signIn.authClient.token.getUserInfo()
                .then(function(user) {
                  document.getElementById("greeting").style.display = 'block';
                  document.getElementById("greeting").innerHTML = 'Welcome ' + user.given_name + '!';
                  document.getElementById("logout").style.display = 'block';
                })
                .catch(function(err) {
                  // handle OAuthError or AuthSdkError (AuthSdkError will be thrown if app is in OAuthCallback state)
                });
              }
            } else {
              signIn.showSignInAndRedirect().catch(function(error) {
                // This function is invoked with errors the widget cannot recover from:
                // Known errors: CONFIG_ERROR, UNSUPPORTED_BROWSER_ERROR
              });
            }
          });
          
          function logout()
          {
              signIn.authClient.signOut();
          }
      </script>
  </body>
</html>
