
<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
​
    <title>Test Okta Signin Widget</title>
​
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    
    <script src="https://global.oktacdn.com/okta-signin-widget/5.7.3/js/okta-sign-in.min.js" type="text/javascript"></script>
​
    <link href="https://global.oktacdn.com/okta-signin-widget/5.7.3/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
​
  </head>
  <body>
    <div id="greetingwidget"></div>
    <div id="logoutwidget" style="display:none">
      <a href="javascript:;" onclick="logout();">Logout</a>
    </div>
    <div id="okta-login-container"></div> 
        <script type="text/javascript">
          var signIn = new OktaSignIn({
            el: '#okta-login-container',
            baseUrl : 'https://oie-9004654.oktapreview.com',
            clientId : '0oausgtcbUm0u8Z8b1d6',
            redirectUri : 'https://oie-buildathon.glitch.me/callback',
            useInteractionCodeFlow: true,
            authParams : {                  
              issuer: 'https://oie-9004654.oktapreview.com/oauth2/default',
              pkce: true,
              //responseType: ['id_token', 'token'],
              // `display: page` will initiate the OAuth2 page redirect flow
              scopes : [  'openid','email','profile','address','phone']
            },              
            features : {
              registration : true,
              rememberMe : true,
              smsRecovery : true,
              multiOptionalFactorEnroll : true,
              selfServiceUnlock : true,
              autoPush : true,
              idpDiscovery: false
            }
          });
          
          signIn.authClient.token.getUserInfo().then(function(user) {
            document.getElementById("greetingwidget").style.display = 'block';
            document.getElementById("greetingwidget").innerHTML = 'Welcome ' + user.given_name + '!';
            document.getElementById("logoutwidget").style.display = 'block';
            }, function(error) {
            signIn.showSignInToGetTokens({
              el: '#okta-login-container'
            }).then(function(tokens) {
              signIn.authClient.tokenManager.setTokens(tokens);
              oktaSignIn.remove();

              const idToken = tokens.idToken;
              document.getElementById("messageBox").innerHTML = "Hello, " + idToken.claims.email + "! You just logged in! :)";
              document.getElementById("logout").style.display = 'block';

            }).catch(function(err) {
              console.error(err);
            });
          });
​
          signIn.authClient.session.exists()
          .then(function(exists) {
            if (exists) {
              signIn.authClient.token.getUserInfo()
              .then(function(user) {
                document.getElementById("greeting").style.display = 'block';
                document.getElementById("greeting").innerHTML = 'Welcome ' + user.given_name + '!';
                document.getElementById("logout").style.display = 'block';
              })
              .catch(function(err) {
                // handle OAuthError or AuthSdkError (AuthSdkError will be thrown if app is in OAuthCallback state)
              });
            } else {
              signIn.showSignInToGetTokens().then(function(tokens) {
                signIn.authClient.tokenManager.setTokens(tokens);
                window.location.assign(window.location.protocol + '//' + window.location.hostname);
              }).catch(function(error) {
                // This function is invoked with errors the widget cannot recover from:
                // Known errors: CONFIG_ERROR, UNSUPPORTED_BROWSER_ERROR
              });
            }
          });
          
          function logout()
          {
              signIn.authClient.signOut();
          }
      </script>
  </body>
</html>
