/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

h1 {
  font-style: italic;
  color: #373fff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

.form-class {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 30px;
  max-width: 50ch;
  margin: 10% auto
}

input {
  border: 1px solid silver;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 60%
}

#username, #otp {
  border: 1px solid silver;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: 10%;
}

#password {
  border: 1px solid silver;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: 10.7%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

label {
  display: inline-block;
}

#signinlabel {
  margin: 0 auto;
  margin-bottom: 5%;
}

#submit {
  cursor: pointer;
  margin-left: 20%;
  margin-top: 3%
}

#logout {
  float: right;
  margin-right: 5%
}

#resetpassword {
  margin: 0 auto
}
